# Sentimental Analysis on IPhone X-Review

#### Context
Sentimental Analysis is really powerful to understand the popularity of a product in the market. It provides feedback to the company regarding the ups and downs of the product from different perspective.

#### Content
The dataset contains public review and comments regarding the IPhoneX released in 2017 , along with the username and the date of the review.

In [1]:
#importing libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [8]:
df=pd.read_csv('D:\\M. Tech in Data Science & Machine Learning\\Natural language processing (NLP)\\Sem Preparation\\IPhoneReview\\IPhoneReview.csv',encoding='latin1')

In [9]:
df.head()

,Unnamed: 0,Date,Review,UserName
0,0,16 Jan 2018,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No
1,1,16 Jan 2018,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous
2,2,16 Jan 2018,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous
3,3,16 Jan 2018,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony
4,4,16 Jan 2018,hey guys iam confused between buying iphone x ...,Anonymous

In [10]:
df.tail()

,Unnamed: 0,Date,Review,UserName
1995,1995,12 Sep 2017,Funny how Android guys react to this phone and...,Anonymous
1996,1996,12 Sep 2017,This is the most ugly phone i have ever seen. ...,Daniel M.
1997,1997,12 Sep 2017,No Headphone jack. PPI < 500. For a flagship W...,Anonymous
1998,1998,12 Sep 2017,no fingerprint sensor :)),alex
1999,1999,12 Sep 2017,Will Samsung be making that screen? :)\r\n \r\...,Michael

In [12]:
df.shape

(2000, 4)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   Date        2000 non-null   object
 2   Review      2000 non-null   object
 3   UserName    2000 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.6+ KB

In [ ]:
#making copy of the original dataframe

In [19]:
df1=df.iloc[:,2:]
df1.head()

                                              Review   UserName
0  mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...      Mr No
1  This month it fell from 1149Â? to 999Â? in Ger...  Anonymous
2  chopp, 16 Jan 2018hey guys iam confused betwee...  Anonymous
3  chopp, 16 Jan 2018hey guys iam confused betwee...       Tony
4  hey guys iam confused between buying iphone x ...  Anonymous

In [20]:
#1.Lowercase and replace

In [21]:
df1['Review_new']=df1['Review'].str.lower().str.replace('[^a-z\s]','')

In [22]:
df1.head()

,Review,UserName,Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan my huawei mate pro is already two we...
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,this month it fell from to in germany via re...
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guys iam confused between buyin...
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guys iam confused between buyin...
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guys iam confused between buying iphone x ...

In [24]:
#2.Tokenize

In [23]:
df1['Review_new']=df1['Review_new'].str.split(' ')

In [25]:
df1.head()

,Review,UserName,Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,"[mir, , jan, my, huawei, mate, , pro, is, alre..."
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,"[this, month, it, fell, from, , to, , in, germ..."
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,"[chopp, , jan, hey, guys, iam, confused, betwe..."
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,"[chopp, , jan, hey, guys, iam, confused, betwe..."
4,hey guys iam confused between buying iphone x ...,Anonymous,"[hey, guys, iam, confused, between, buying, ip..."

In [ ]:
#3.Remove stopwords

In [26]:
import nltk
common_stopwords=nltk.corpus.stopwords.words('english')

In [28]:
print(common_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [29]:
common_stopwords.remove('didn')
common_stopwords.remove('no')
common_stopwords.remove('nor')
common_stopwords.remove('not')

In [30]:
def drop_stopwords(text):
    return[word for word in text if word not in common_stopwords]

In [31]:
df1['Review_new']=df1['Review_new'].apply(drop_stopwords)

In [32]:
df1.head()

,Review,UserName,Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,"[mir, , jan, huawei, mate, , pro, already, two..."
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,"[month, fell, , , germany, via, resellers, hop..."
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,"[chopp, , jan, hey, guys, iam, confused, buyin..."
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,"[chopp, , jan, hey, guys, iam, confused, buyin..."
4,hey guys iam confused between buying iphone x ...,Anonymous,"[hey, guys, iam, confused, buying, iphone, x, ..."

In [ ]:
#4.Lemmetization

In [34]:
from nltk.stem.wordnet import WordNetLemmatizer
Lemmatizer=WordNetLemmatizer()

In [35]:
def Lemmetization(text):
    return[Lemmatizer.lemmatize(word) for word in text]

In [36]:
df1['Review_new']=df1['Review_new'].apply(Lemmetization)

In [37]:
df1.head()

,Review,UserName,Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,"[mir, , jan, huawei, mate, , pro, already, two..."
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,"[month, fell, , , germany, via, resellers, hop..."
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,"[chopp, , jan, hey, guy, iam, confused, buying..."
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,"[chopp, , jan, hey, guy, iam, confused, buying..."
4,hey guys iam confused between buying iphone x ...,Anonymous,"[hey, guy, iam, confused, buying, iphone, x, h..."

In [ ]:
# 5 .Cleaning the text

In [38]:
df1['Review_new']=df1['Review_new'].apply(lambda x: ' '.join(x))

In [39]:
df1.head()

,Review,UserName,Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan huawei mate pro already two week old...
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,month fell germany via resellers hoping cont...
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guy iam confused buying iphone ...
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guy iam confused buying iphone ...
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guy iam confused buying iphone x huawei p...

In [ ]:
#Sentiment analysis

In [ ]:
#1. Sentiment analysis using TextBlob

In [40]:
from textblob import TextBlob

In [41]:
df1["Sentiment_score_Review_new"]=[round(TextBlob(article).sentiment.polarity, 3) for article in df1['Review_new']]

In [42]:
df1.head()

,Review,UserName,Review_new,Sentiment_score_Review_new
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan huawei mate pro already two week old...,0.217
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,month fell germany via resellers hoping cont...,0.000
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guy iam confused buying iphone ...,-0.400
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guy iam confused buying iphone ...,-0.400
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guy iam confused buying iphone x huawei p...,-0.400

In [ ]:
#applying the labels

In [43]:
#crating fucntion for the labels
def get_sentiment_label(score):
    if score > 0.3:
        return 'positive'
    elif score < -0.3:
        return 'negative'
    else:
        return 'neutral'

In [44]:
df1['Sentiment_TextBlob_label'] = df1['Sentiment_score_Review_new'].apply(get_sentiment_label)
df1.head()

,Review,UserName,Review_new,Sentiment_score_Review_new,Sentiment_TextBlob_label
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan huawei mate pro already two week old...,0.217,neutral
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,month fell germany via resellers hoping cont...,0.000,neutral
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guy iam confused buying iphone ...,-0.400,negative
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guy iam confused buying iphone ...,-0.400,negative
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guy iam confused buying iphone x huawei p...,-0.400,negative

In [45]:
print('review Text Sentiment analysis using TextBlob:')
print()
df1['Sentiment_TextBlob_label'].value_counts()

review Text Sentiment analysis using TextBlob:

neutral     1446
positive     425
negative     129
Name: Sentiment_TextBlob_label, dtype: int64

In [ ]:
#2. Sentiment Analysis using VADER (Rule Based Algorithm)

In [46]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [47]:
analyzer = SentimentIntensityAnalyzer()

In [48]:
df1["Sentiment_score_VADER"]=df1['Review_new'].apply(lambda v: analyzer.polarity_scores(v)['compound'])
df1.head()

,Review,UserName,Review_new,Sentiment_score_Review_new,Sentiment_TextBlob_label,Sentiment_score_VADER
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan huawei mate pro already two week old...,0.217,neutral,0.5994
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,month fell germany via resellers hoping cont...,0.000,neutral,0.6486
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guy iam confused buying iphone ...,-0.400,negative,0.4019
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guy iam confused buying iphone ...,-0.400,negative,0.0000
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guy iam confused buying iphone x huawei p...,-0.400,negative,0.4019

In [ ]:
#applying the labels

In [49]:
df1['Sentiment_VADER_label'] = df1['Sentiment_score_VADER'].apply(get_sentiment_label)
df1.head()

,Review,UserName,Review_new,Sentiment_score_Review_new,Sentiment_TextBlob_label,Sentiment_score_VADER,Sentiment_VADER_label
0,"mir, 16 Jan 2018My Huawei Mate 10 Pro is alrea...",Mr No,mir jan huawei mate pro already two week old...,0.217,neutral,0.5994,positive
1,This month it fell from 1149Â? to 999Â? in Ger...,Anonymous,month fell germany via resellers hoping cont...,0.000,neutral,0.6486,positive
2,"chopp, 16 Jan 2018hey guys iam confused betwee...",Anonymous,chopp jan hey guy iam confused buying iphone ...,-0.400,negative,0.4019,positive
3,"chopp, 16 Jan 2018hey guys iam confused betwee...",Tony,chopp jan hey guy iam confused buying iphone ...,-0.400,negative,0.0000,neutral
4,hey guys iam confused between buying iphone x ...,Anonymous,hey guy iam confused buying iphone x huawei p...,-0.400,negative,0.4019,positive

In [50]:
print('review Text Sentiment analysis using VADER (Rule Based Algorithm):')
print()
df1['Sentiment_VADER_label'].value_counts()

review Text Sentiment analysis using VADER (Rule Based Algorithm):

positive    970
neutral     600
negative    430
Name: Sentiment_VADER_label, dtype: int64

In [ ]:
#------------------------------------end------------------------------------------------------------------------#